.landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 80vh;
}

.page-header-title {
    text-align: center;
    padding: 20px;
}

.page-content-container {
    max-width: 800px;
    margin: 0 auto;
}

.user-avatar-image {
    border-radius: 100%;
    max-height: 100px;
    margin: 0 auto;
}

.center-items {
    text-align: center;
    margin: 0 auto;
}

.complete-width {
    max-width: 100%;
}
